/* ################# GOOGLE FONTS ################ */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/* ################# GOOGLE ICONS ################ */
.material-icons {
  font-family: "Material Icons Outlined";
  /* font-family: "Material Icons Round"; */
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: "liga";
}

/* ################# CSS VARIABLES ################ */
:root {
  --header-height: 3rem;

  /* ========= COLORS ========= */
  --hue-color: 250;

  /* HSL Colors */
  --first-color: hsl(var(--hue-color), 69%, 61%);
  --first-color-second: hsl(var(--hue-color), 69%, 61%);
  --first-color-alt: hsl(var(--hue-color), 57%, 53%);
  --first-color-lighter: hsl(var(--hue-color), 92%, 85%);

  --title-color: hsl(var(--hue-color), 8%, 15%);
  --text-color: hsl(var(--hue-color), 8%, 45%);
  --text-color-light: hsl(var(--hue-color), 8%, 65%);

  --input-color: hsl(var(--hue-color), 70%, 96%);
  --body-color: hsl(var(--hue-color), 60%, 99%);
  --container-color: #fff;

  /* ========= Font and typography ========= */
  --body-font: "Poppins", sans-serif;

  --big-font-size: 3.2rem;
  --h1-font-size: 2.4rem;
  --h2-font-size: 2rem;
  --h3-font-size: 1.8rem;
  --normal-font-size: 1.5rem;
  --small-font-size: 1.3rem;
  --smaller-font-size: 1.2rem;

  /* ========= Font weight ========= */
  --font-medium: 500;
  --font-semi-bold: 600;

  /* ========= Margins ========= */
  --m-0-25: 0.4rem;
  --m-0-5: 0.8rem;
  --m-0-75: 1.2rem;
  --m-1: 1.6rem;
  --m-1-5: 2.4rem;
  --m-2: 3.2rem;
  --m-2-5: 4rem;
  --m-3: 4.8rem;

  /* ========= Z-index ========= */

  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 4.8rem;
    --h1-font-size: 3.6rem;
    --h2-font-size: 2.4rem;
    --h3-font-size: 2rem;
    --normal-font-size: 1.6rem;
    --small-font-size: 1.4rem;
    --smaller-font-size: 1.3rem;
  }
}

/* #################### BASE #################### */
html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  margin: 0 0 var(--header-height) 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* #################### REUSABLE CSS CLASSES #################### */
.section {
  padding: 3.2rem 0 6.4rem;
}

.section__title {
  font-size: var(--h1-font-size);
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: var(--m-3);
}

.section__title,
.section__subtitle {
  text-align: center;
}

/* #################### LAYOUT #################### */
.container{
  max-width: 768px;
  margin-left: var(--m-1-5);
  margin-right: var(--m-1-5);
}

.grid{
  display: grid;
  gap:  2.4rem;
}